{% extends "base.html" %}

{% block head %}
<title>Изменить пароль</title>
{% endblock %}

{% block content %}
<div style="width:595px;margin:100px auto 0;">
<form method="post" action="{% url change-password %}" class="form form-horizontal well">
    {% csrf_token %}
    <legend>Изменить пароль</legend>
    {% for field in form %}
        <div class="control-group{% if field.errors %} error{% endif %}">
            <label class="control-label" for="{{ field.id }}">{{ field.label }}: </label>
            <div class="controls">
                {{ field }}
                {% if field.errors %}
                    <span class="help-inline">{{ field.errors.0 }}</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Сохранить</button>
        </div>
    </div>
</form>
</div>
{% endblock %}
